$iconSize: 50px;
$dark-overlay: rgba(0,0,0,0.7);

body{
    background: rgb(114, 110, 110);
}
.navbar{
    background: #000;
    .nav-item{
        padding-left: 1rem;
        .nav-link{
            text-transform: uppercase;
        }
    }
}
.carousel-item{
    height: 450px;
}
.carousel-img-1{
    background-image: url('../img/image1.jpeg');
    background-size: cover;
}
.carousel-img-2{
    background-image: url('../img/image2.jpeg');
    background-size: cover;
}
.carousel-img-3{
    background-image: url('../img/image3.jpeg');
    background-size: cover;
}
#homeIcon{
    .fa{
        font-size: $iconSize;
    }
}
#getStarted{
    position: relative;
    background: url('../img/pc.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 250px;
    
    .dark-overlay{
        background: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}
#homeVedio{
    position: relative;
    background: url('../img/people.jpeg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    min-height: 250px;

    .dark-overlay{
        background: $dark-overlay;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
    .fa{
        font-size: $iconSize;
    }
}

@media (max-width: 767px){
    .nav-item{
        padding-left: 0 !important;
    }
    #getStarted{
        min-height: 300px;
    }
}
@media (max-width: 480px){
    .carousel{
        h2{
            font-size: 2rem;
        }
    }
    #getStarted{
        min-height: 430px;
        padding-top: 1rem;
    }
    #feature{
        h2{
            font-size: 1.8rem;
        }
        p{
            text-align: justify;
        }
    }
}